# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
.env

# Base de datos local
db.sqlite3

# Firebase
backend/config/ServiceAccountKey.json

# VS Code
.vscode/

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db