<div class="crud-container">

<app-navbar></app-navbar>
  <h1>Gestión de Eventos</h1>

  <div class="form-card">

    <h2>Crear Evento</h2>

    <input
  type="text"
  placeholder="Nombre del evento"
  [(ngModel)]="title">

<textarea
  placeholder="Descripción"
  [(ngModel)]="description">
</textarea>

<input
  type="date"
  [(ngModel)]="date">

<input
  type="time"
  [(ngModel)]="time">

<input
  type="text"
  placeholder="Ubicación"
  [(ngModel)]="location">

<select [(ngModel)]="category">

  <option value="">
    Seleccionar categoría
  </option>

  <option value="Música">
    Música
  </option>

  <option value="Tecnología">
    Tecnología
  </option>

  <option value="Deportes">
    Deportes
  </option>

  <option value="Arte">
    Arte
  </option>

</select>
<!-- Imagen -->
<input
  type="file"
  accept="image/*"
  (change)="onFileSelected($event)">

<!-- Vista previa -->
<div *ngIf="previewImage" class="preview-container">
  <img
    [src]="previewImage"
    alt="Vista previa"
    class="preview-image">
</div>


<button
  class="btn-crear"
  (click)="eventoEditandoId ? actualizarEvento() : crearEvento()">

  {{ eventoEditandoId ? 'Guardar Cambios' : 'Crear Evento' }}

</button>

  </div>

  <div class="tabla-card">

    <h2>Eventos Registrados</h2>

    <table>

      <thead>
        <tr>
          <th style="padding: 18px;color: white;font-size: 16px; letter-spacing: 0.5px;">Evento</th>
          <th style="padding: 18px;color: white;font-size: 16px; letter-spacing: 0.5px;">Fecha</th>
          <th style="padding: 18px;color: white;font-size: 16px; letter-spacing: 0.5px;">Categoría</th>
          <th style="padding: 18px;color: white;font-size: 16px; letter-spacing: 0.5px;">Ubicación</th>
          <th style="padding: 18px;color: white;font-size: 16px; letter-spacing: 0.5px;">Acciones</th>
        </tr>
      </thead>

      <tbody>

@for (evento of eventos; track evento.id) {

    <tr>
      <td style="padding: 18px;color: white;font-size: 16px; letter-spacing: 0.5px;">{{ evento.title }}</td>
      <td style="padding: 18px;color: white;font-size: 16px; letter-spacing: 0.5px;">{{ evento.date }}</td>
      <td style="padding: 18px;color: white;font-size: 16px; letter-spacing: 0.5px;">{{ evento.category }}</td>
      <td style="padding: 18px;color: white;font-size: 16px; letter-spacing: 0.5px;">{{ evento.location }}</td>

      <td>
        <button
          class="btn-editar"
          (click)="editarEvento(evento)">
          Editar
        </button>

        <button
          class="btn-eliminar"
          (click)="eliminarEvento(evento.id)">
          Eliminar
        </button>
      </td>
    </tr>

    }

      </tbody>

    </table>

  </div>

</div>