<div class="home-container">

    

<app-navbar></app-navbar>
    <div class="bienvenida" *ngIf="nombreUsuario">

        <h2>
             Bienvenido,
            {{ nombreUsuario }}
        </h2>

        <p>
            Nos alegra tenerte nuevamente en ADVAIH.
        </p>

    </div>
    

    <!-- EVENTOS DESTACADOS -->
    <section class="eventos-section">

        <h2>Eventos Destacados</h2>

        <div class="eventos-grid">

  @for (evento of eventos; track evento.id) {

    <div class="evento-card">

      <img
        [src]="evento.imageUrl"
        alt="Evento">

      <div class="evento-info">

        <h3>{{ evento.title }}</h3>

        <p>
          📍 {{ evento.location }}
        </p>

        <p>
          📅 {{ evento.date }}
        </p>

        <p>
          {{ evento.category }}
        </p>
        <p class="autor">
          Creado por: {{ evento.authorName }}
        </p>

        <button>
          Ver más
        </button>

      </div>

    </div>

  }

</div>

    </section>

</div>