<div class="login-container">

    <div class="left-panel">
        <div class="brand">
            <h1>ADVAIH</h1>
            <p class="subtitle">A Donde Vamos A Ir Hoy</p>
            <div class="line"></div>
            <h2>Encuentra <span>planes</span>, vive <span>experiencias</span>.</h2>
        </div>
    </div>

    <div class="right-panel">

        <div class="top-link">
            <span>¿No tienes cuenta?</span>
            <a routerLink="/register">Regístrate</a>
        </div>

        <div class="form-box">

            <h1>¡Bienvenido de nuevo! </h1>
            <p>Inicia sesión para continuar disfrutando los mejores eventos y planes.</p>

            <label>Correo electrónico</label>
            <input
                type="email"
                placeholder="ejemplo@correo.com"
                [(ngModel)]="email"
                name="email"
                required
                #emailModel="ngModel">
            
            <div *ngIf="(emailModel.invalid && emailModel.touched) || errorEmail" class="error-input">
                {{ errorEmail || 'El correo electrónico es obligatorio.' }}
            </div>


            <label>Contraseña</label>
            <input
                type="password"
                placeholder="••••••••"
                [(ngModel)]="password"
                name="password"
                required
                #passModel="ngModel">
            
            <div *ngIf="(passModel.invalid && passModel.touched) || errorPassword" class="error-input">
                {{ errorPassword || 'La contraseña es obligatoria.' }}
            </div>


            <a class="forgot">¿Olvidaste tu contraseña?</a>

            <div *ngIf="errorGeneral" class="error-general">
                {{ errorGeneral }}
            </div>

            <button (click)="loginEmail()" [disabled]="loading">
                {{ loading ? 'Iniciando...' : 'Iniciar sesión' }}
            </button>

            <div class="separator">
                <span>o continúa con</span>
            </div>

            <button type="button" class="google-btn" (click)="loginGoogle()" [disabled]="loading">
                Continuar con Google
            </button>

            <button class="facebook-btn" [disabled]="loading">
                Continuar con Facebook
            </button>

        </div>

    </div>

</div>